# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
C:/Documents and Settings/owner/Workspaces/Qt Creator Workspace/build-Battleship_Game-Desktop_Qt_5_2_0_MinGW_32bit-Debug/.qmake.stash
C:/Documents and Settings/owner/Workspaces/Qt Creator Workspace/build-Battleship_Game-Desktop_Qt_5_2_0_MinGW_32bit-Debug/Battleship_Game
C:/Documents and Settings/owner/Workspaces/Qt Creator Workspace/build-Battleship_Game-Desktop_Qt_5_2_0_MinGW_32bit-Debug/client
C:/Documents and Settings/owner/Workspaces/Qt Creator Workspace/build-Battleship_Game-Desktop_Qt_5_2_0_MinGW_32bit-Debug/Makefile
C:/Documents and Settings/owner/Workspaces/Qt Creator Workspace/build-Battleship_Game-Desktop_Qt_5_2_0_MinGW_32bit-Debug/moc_battleshipgame.cpp
C:/Documents and Settings/owner/Workspaces/Qt Creator Workspace/build-Battleship_Game-Desktop_Qt_5_2_0_MinGW_32bit-Debug/moc_boardsquare.cpp
C:/Documents and Settings/owner/Workspaces/Qt Creator Workspace/build-Battleship_Game-Desktop_Qt_5_2_0_MinGW_32bit-Debug/moc_cpuships.cpp
C:/Documents and Settings/owner/Workspaces/Qt Creator Workspace/build-Battleship_Game-Desktop_Qt_5_2_0_MinGW_32bit-Debug/moc_displayships.cpp
C:/Documents and Settings/owner/Workspaces/Qt Creator Workspace/build-Battleship_Game-Desktop_Qt_5_2_0_MinGW_32bit-Debug/moc_mainwindow.cpp
C:/Documents and Settings/owner/Workspaces/Qt Creator Workspace/build-Battleship_Game-Desktop_Qt_5_2_0_MinGW_32bit-Debug/moc_predefs.h
C:/Documents and Settings/owner/Workspaces/Qt Creator Workspace/build-Battleship_Game-Desktop_Qt_5_2_0_MinGW_32bit-Debug/moc_selectship.cpp
C:/Documents and Settings/owner/Workspaces/Qt Creator Workspace/build-Battleship_Game-Desktop_Qt_5_2_0_MinGW_32bit-Debug/ui_mainwindow.h
.vscode/c_cpp_properties.json
